body{
    background-color: black;
    color: gold;
    font-family: monospace;
    margin: 0px;
}

header{
    font-size: 50px;
    border: double  5px rgb(50, 33, 33);
{

h1{
    font-size: 30px;
}
 
p{
    font-size: 20px;
}

section{
background-color: rgb(50, 33, 33);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;


}

.chamada-texto{
    margin-right: 10%;
